body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #9729b9, #4a2c50); /* Gradien latar belakang */
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
}

.headSub {
  text-align: center;
  background-color: #f5defc;
  padding: 10px;
  color: #9e3bbd;
  border-radius: 4px;
}

.title {
  color: #fff; /* Warna teks judul */
  text-align: center;
  margin-top: 40px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.side {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  width: 200px;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px 0px 0px 20px;
}

.side ul {
  list-style: none;
  padding: 0;
}

.side ul li {
  margin-bottom: 10px;
}

.side ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  transition: background-color 0.3s ease; /* Animasi perubahan warna latar belakang */
}

.side ul li a:hover {
  background-color: rgba(255, 255, 255, 0.7); /* Warna latar belakang saat dihover */
}

.main {
  background-color: rgba(255, 255, 255, 0.9); /* Latar belakang konten utama dengan transparansi */
  padding: 20px;
  flex: 1;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Efek bayangan */
}

.biodata {
  background-color: rgba(255, 255, 255, 0.9); /* Latar belakang biodata dengan transparansi */
  padding: 20px;
  width: 200px;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 0px 20px 20px 0px;
}

.profile-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 999px 999px 10px 10px;
}

footer p {
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .flex-container {
    flex-direction: column;
  }
  .title {
    font-size: x-large;
  }
  .side,
  .main,
  .biodata {
    width: 100%;
    padding: 20px; /* Atur padding kembali menjadi 20px */
    box-sizing: border-box; /* Pastikan padding tidak menambah lebar elemen */
    margin-top: 0;
  }
  .side {
    border-radius: 20px 20px 0px 0px;
  }
  .biodata {
    border-radius: 0px 0px 20px 20px;
  }
}
